<h4>Markdown Basics</h4>
<p class="mb-2">
	Markdown is a lightweight markup language for creating formatted text
	using a plain text editor. For more information and syntax, view the
	<a href="https://www.markdownguide.org/basic-syntax/" target="_blank">markdown guide</a>
</p>
<table class="table">
	<tr>
		<th>Element</th>
		<th>Markdown Syntax</th>
	</tr>
	<tr>
		<td>Headings</td>
		<td>
			<code>
				# H1 <br />
				## H2 <br />
				### H3
			</code>
		</td>
	</tr>
	<tr>
		<td>Bold</td>
		<td>
			<code>
				**bold text**
			</code>
		</td>
	</tr>
	<tr>
		<td>Italic</td>
		<td>
			<code>*italic text*</code>
		</td>
	</tr>
	<tr>
		<td>Blockquote</td>
		<td>
			<code>
				> blockquote
			</code>
		</td>
	</tr>
	<tr>
		<td>Ordered List</td>
		<td>
			<code>
				1. Item One<br />
				2. Item Two<br />
				3. Item Three
			</code>
		</td>
	</tr>
	<tr>
		<td>Unordered List</td>
		<td>
			<code>
				- Item one<br />
				- Item two<br />
				- Item three
			</code>
		</td>
	</tr>
	<tr>
		<td>Code</td>
		<td>
			<code>
				`code`
			</code>
		</td>
	</tr>
	<tr>
		<td>Horizontal Rule</td>
		<td>
			<code>
				---
			</code>
		</td>
	</tr>
	<tr>
		<td>Link</td>
		<td>
			<code>[title](https://www.example.com)</code>
		</td>
	</tr>
	<tr>
		<td>Image</td>
		<td>
			<code>
				![alt text](image.jpg)
			</code>
		</td>
	</tr>
	<tr>
		<td>Link</td>
		<td>
			<code>
				[alt text](url)
			</code>
		</td>
	</tr>
</table>