@implements IDisposable
@inject IJSRuntime JSRuntime

<CascadingValue Value="@this" IsFixed="true">
    @if (Toolbar != null)
    {
        <div style="display:none">@Toolbar</div>
    }
    <textarea @ref="@ElementRef" id="@ElementId" class="@CSSClass resizable"></textarea>
</CascadingValue>