div.grippie {
	background: #EEEEEE url(../grippie.png) no-repeat scroll center 2px;
	border-color: #DDDDDD;
	border-style: solid;
	border-width: 0pt 1px 1px;
	cursor: s-resize;
	height: 9px;
	overflow: hidden;
}

.resizable-textarea {
	display: block;
	margin-bottom: 0pt;
	height: 30%;
}
